.navbar_logo1 {
  display: none;
}
.navbar .logo {
  margin-left: 11rem;
  font-size: 20px !important;
  letter-spacing: 6px !important;
}
.navbar .nav_links {
  margin-left: 1.8rem;
}
.navbar .nav-item {
  font-size: 16px;
}
.navbar_icon {
  font-size: 25px !important;
  margin-right: 1rem;
  cursor: pointer;
}
.navbar_icon1 {
  font-size: 30px;
  margin-right: 1rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .navbar .navbar_logo1 {
    display: inline-block !important;
    letter-spacing: 6px;
  }
  .navbar .nav_links {
    margin-left: 0px !important;
  }
  .navbar .logo {
    display: none;
  }
}

.header_img_box {
  background-image: url(/static/images/download/PNG/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: flex-end;
  width: 100%;
  height: calc(100vh - 62px);
  padding: 50px;
}

.header_text_box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40vh;
}

.header_text_box_p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 1.8px;
  color: #56593D;
}

.header_text_box_h1 {
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  text-align: right;
  color: #56593D;
}

.header_text_box_btn {
  height: 56px;
  width: 154px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  text-transform: uppercase;
  color: #FFFFEF;
  background-color: #56593D;
  margin-left: 550px;
  margin-top: 30px;
}

.main {
  width: 100%;
  min-height: 60vh;
  margin-top: 100px;
}

.main_text_box {
  display: grid;
  align-items: center;
  justify-content: center;
}

.header_text_box_p {
  font-weight: 500;
}

.main_text_h1 {
  max-width: 1800px;
  min-height: 200px;
  font-weight: normal;
  font-size: 47px;
  text-align: center;
  color: #56593D;
}

.main_links_box {
  margin-top: 50px;
}

.main_link1 {
  text-decoration: none;
  width: 120px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.6px;
  color: #56593D;
  border-bottom: 2px solid transperent;
}

.main_link2 {
  text-decoration: none;
  width: 150px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.6px;
  color: #56593D;
}

.main_link1:hover {
  border-bottom: 2px solid #56593D;
  color: #56593D;
}

.main_link2:hover {
  border-bottom: 2px solid #56593D;
  color: #56593D;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFEF;
}
.section_title {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  margin: 3rem 0;
  color: #56593D;
}

@media (max-width: 991px) {
  .img3 {
    margin: 0 auto;
    margin-left: 12rem;
    margin-top: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .section2 {
    margin-top: 5rem;
  }

  .ord {
    order: 2;
  }

  .sec5_img {
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .img3 {
    margin: 0;
  }
}
.section2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(/static/images/download/PNG/Rectanglesec2_img.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.section2_title {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  color: #56593D;
  font-size: 18px;
  font-weight: 400;
}
.section2_subtitle {
  text-align: center;
  max-width: 1000px;
  height: 120px;
  margin: 0 auto;
  font-size: 45px;
  color: #56593D;
  font-weight: 600;
}

.section3 {
  width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
  background-color: #FFFFEF;
}
.section3_title {
  text-align: center;
  color: #56593D;
  font-size: 25px;
  font-weight: 400;
  margin-top: 4rem;
}
.section3_line {
  text-align: center;
  margin-bottom: 2rem;
  color: #56593D;
}
.section3_subtitle {
  width: 320px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  color: #56593D;
  font-size: 18px;
}

.section4 {
  width: 100%;
  min-height: 50vh;
  background: #FFFFEF;
  text-align: center;
  margin-top: 5rem;
  padding-top: 5rem;
}
.section4_title {
  font-size: 24px;
  color: #56593D;
}
.section4_subtitle {
  font-size: 16px;
  color: #56593D;
}
.section4_label_input {
  outline: none;
  border: none;
  border-bottom: 1px solid #56593D;
  margin-right: 1rem;
  width: 300px;
}
.section4_label_btn {
  border: none;
  background-color: #56593D;
  color: #ffffff;
  margin-top: 2.5rem;
  width: 140px;
  height: 27px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5;
  text-align: center;
}

.section5 {
  width: 100%;
  min-height: 80vh;
  background: #FFFFEF;
}

.footer {
  margin-top: 3rem;
  width: 100%;
  min-height: 50vh;
  background-image: url(/static/images/download/PNG/Framefotter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */